.contact {
    background: #150725 !important;
    background-image: none;
}
.contact .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 8%;
}

.contact .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}

.contact .row .col {
    display: flex;
    flex-direction: column;
}

.contact .row .left {
    flex-basis: 35%;
    min-width: 320px;
    margin-right: 60px;
}

.contact .row .right {
    flex-basis: 60%;
}

.left .contact-title h2 {
    position: relative;
    font-size: 28px;
    display: inline-block;
    margin-bottom: 25px;
}

.left .contact-title h2::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #dddd;
    border-radius: 5px;
}

.left .contact-title h2::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 35%;
    height: 2px;
    background-color:  #b520a3;;
    z-index: 10;
    border-radius: 5px;
}

.left .contact-title p {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-bottom: 22px;
}

.left .contact-info {
    margin-bottom: 16px;
}

.contact-info .icon-group {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 25px 0;
}

.contact-info .icon-group .icon {
    width: 30px;
    height: 30px;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.contact-info .icon-group .icon:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(66deg, #f54a48 0.87%, #fa982f 100%);
}

.contact-info .icon-group span {
    font-size: 16px;
    font-weight: 500;
    margin: 0 5px;
    color: #d3c9c1;
}

.social-media {
    display: flex;
    gap: 10px;
    align-items: center;
}

.social-media i {
    background: linear-gradient(66deg, #f54a48 0.87%, #fa982f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    transition: all 0.3s ease;
}

.social-media i:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ==================================== CONTACT FORM ================================ */

.message-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}

.message-form .input-group {
    margin: 18px 0;
    position: relative;
}

.message-form .half-width {
    flex-basis: 48%;
}

.message-form .full-width {
    flex-basis: 100%;
}

.message-form input,
.message-form textarea{
    width: 100%;
    padding: 2px 0;
    border: none;
    border-bottom: 2px solid #b520a3;
    outline: none;
    transition: all 0.3s ease;
    background: transparent;
    color: #d3c9c1;
    font-size: 17px;
    cursor: pointer;
}

.message-form textarea {
    height: 220px;
    resize: none;
    display: block;
}

.input-group label {
    position: absolute;
    bottom: 4px;
    left: 0;
    font-size: 17px;
    padding: 10px 0 0;
    color: #d3c9c1;
    transition: all 0.3s ease;
}

.input-group input:focus + label,
.input-group textarea:focus + label {
    color: #d3c9c1;
    top: -30px;
    font-size: 12px;
}



@media screen and (max-width: 768px) {

    .contact.container {
        padding: 30px 10px;
    }

    .contact .row {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }

    .left {
        flex-basis: 100%;
        margin-right: 0;
    }

    .right {
        flex-basis: 100%;
    }

    .message-form .half-width {
        flex-basis: 100%;
    }

    .icon-group {
        gap: 5px;
    }
}